<body>
    <app-header></app-header>
    <div class="body_div">
        <div class="main_cover">
            <header class="main_head">
                <h2 class="head_title">Window Solution</h2>
            </header>
            <main>
                <div class="template">
                    <section class="sec pro_img d-flex">
                        <div class="sec_img d-flex ">
                            <p>Product Image</p>
                            <p class="show_more ">show more</p>
                        </div>
                        <div class="sec_img d-flex img_hide">
                            <p>Product Image</p>
                            <p class="show_more ">show more</p>
                        </div>
                        <div class="sec_img d-flex img_hide">
                            <p>Product Image</p>
                            <p class="show_more ">show more</p>
                        </div>
                        <div class="sec_img d-flex img_hide">
                            <p>Product Image</p>
                            <p class="show_more ">show more</p>
                        </div>
                    </section>
                    <section class="sec our_wrk">

                    </section>
                </div>
            </main>
        </div>
    </div>
</body>