<body>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <header>
            <h1>Login</h1>
        </header>
        <main>
            <section>   
                <label for="username">User name: </label>
                <div class="inputwrap">
                    <input type="text" name="username" id="username" formControlName="userName" (input)="onchange($event)">
                    <span>Invalide user name</span>
                </div>
            </section>
            <section>
                <label class="pass" for="password">Password: </label>
                <input type="password" name="password" id="password" formControlName="passWord">
            </section>
        </main>
        <footer>
            <button type="submit" [ngClass]="loginForm.get('userName')?.touched && bckclr ? 'bckclrred': ''">Save</button>
            <a href="#">Forget password</a>
        </footer>
    </form>
</body>