.whole{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
body{
    width: 524px;
    height: 492px;
    background-color: rgb(248, 249, 250);
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px; */
    box-shadow: #FFD580;
    border-radius: 8px;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}
header{
    padding: 21px 0;
    text-align: center;
}

main{
    height: 164px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 44px;
    padding: 32px 0;
}
label{
    font-weight: bold;
    font-size: 21px;
    line-height: 24px;
}
input{
    height: 24px;
    width: 208px;
    border-radius: 6px;
    font-size: 16px;

}
.d-blk{
    display: block;
}
.d-non{
    display: none;
}
section{
    display: flex;
    justify-content: center;
    gap: 32px;
    max-height: 48px;
}
.inputwrap{
    display: flex;
    flex-direction: column;
}
.pass{
    padding-left: 22px;
}
a{
    text-decoration: none;
    color: #000;
}
footer{
    /* margin: 32px 0; */
    padding: 32px 0;
    display: flex;
    justify-content: space-evenly;
    /* gap: 32px; */
}

span {
    text-align: left;
    color: red;
}
.eye svg{
    color: black;
    max-width: 14px;
    height: 14px;
}

.eye {
     position: relative;
     right: 18px;
     top: 2px;
}

.text-icon{

}
footer a{
    cursor: pointer;
}
footer button{
    width: 68px;
    height: 30px;
    border-radius: 6px;
    cursor: pointer;
}
.bckclrred{
    background-color: #FFCCCB ;
}

a:hover{
    text-decoration: underline;
}

@media (max-width: 425px) {
    body{
        width: 100%;
        height: 516px;
    }
    section {
        max-width: 216px;
        flex-direction: column;
        align-items: center;
    }
    input{
        font-size: 14px;
    }
    .eye {
        bottom: 21px;
        left: 193px;
    }
}