body {
    min-width: 472px;
    min-height: 340px;
    background-color: rgb(248, 249, 250);
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 100%;
    height: 256px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
header{
    margin: 26px auto;
}
h1{
    margin: 0;
}

.email{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.d-non{
    display: none;
}


.pos {
    position: relative;
    /* bottom: 74px; */
}

.email input{
    width: 220px;
    height: 22px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: bold;
}

.email button{
    width: 83px;
    border-radius: 6px;
    height: 26px;
}

.email button:hover{
    background-color: green;
}