<body>
    <form [formGroup]="forgetForm">
        <header><h1>Forget Password</h1></header>
        <main>
            <section>
                <div class="email" [ngClass]="{'d-non': otpSent}">
                    <input type="email" name="email" id="email" formControlName="email">
                    <button (click)="sndOTP()">Send OTP</button>
                </div>
                <div class="email pos" [ngClass]="{'d-non': !otpSent}" >
                    <input type="number" name="otp" id="otp" formControlName="otp">
                    <button (click)="varifyOtp()">Verify OTP</button>
                </div>
            </section>
        </main>
    </form>
</body>