body {
    min-width: 472px;
    min-height: 340px;
    background-color: rgb(248, 249, 250);
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 100%;
    height: 339px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
header{
    margin: 30px auto;
}
h1{
    margin: 0;
}

.email{
    display: flex;
    justify-content: center;
    gap: 32px;
}