<body>
    <form>
        <header><h1>Forget Password</h1></header>
        <main>
            <section>
                <div class="email">
                    <input type="email" name="email" id="email">
                    <button>Send OTP</button>
                </div>
                <div class="email">
                    <input type="number" name="otp" id="otp">
                    <button>Verify OTP</button>
                </div>
            </section>
        </main>
    </form>
</body>