

.body {
    width: 100wh;
    height: 48px;
}

.nav {
    max-width: 65%;
    min-width: 40%;
    padding-left: 16px;
}

.nav_body {
    background-color: #23253b;
    height: 100%;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    justify-content: space-between;
    column-gap: 36px;
    box-shadow: 0px 3px 1px 1px #706f6f;
}

.company_name {
    max-width: 146px;
    font-family: Poppins, sans-serif;
}

.header_spc {
    text-align: center;
    width: 60%;
}

.ulist {
    list-style: none;
    padding: 0;
    margin: 0;
    max-width: 100%;
    column-gap: 46px;
    align-items: center;
}

.list {
    max-width: 126px;
    min-width: 100px;
}

.line {
    width: 2px;
    background-color: white;
}

.nav_rigt {
    max-width: 60%;
    min-width: 55%;
    padding-left: 22px;
    column-gap: 16px;
}

.nav_lft {
    min-width: 35%;
    max-width: 40%;
    column-gap: 12px;
    align-items: center;
    text-align: center;
    justify-content: flex-end;
}

.bell_icon {
    color: white;
    flex-direction: column;
}

.noti_num {
    width: 12px;
    height: 12px;
    background-color: red;
    position: relative;
    bottom: 28px;
    left: 17px;
    border-radius: 14px;
}

.ancher {
    text-decoration: none;
    min-width: 72px;
    color: #cfcfcf;
    font-family: Poppins, sans-serif;
    font-size: 16px;
}

.profl {
    color: #cfcfcf;
    padding-right: 22px;
    max-width: 152px;
    cursor: pointer;
}

.glbSrh {
    height: 32px;
    border-radius: 8px;
    box-shadow: 0px 2px 1px 1px #bfbfbf;
    border: none;
}

.serch_icn {
    height: 24px;
    width: 24px;
    color: #cfcfcf;
    cursor: pointer;
}

.glbSrh:active {
    border: none;
}

.list:hover {
    background-color: #ffffff;
    min-width: 100px;
    border-radius: 9px;
    cursor: pointer;

    .ancher {
        text-decoration: none;
        font-size: 17px;
        color: black;
    }
}

@media (max-width: 426px) {
    .nav_body {
        background-color: #23253b;
        justify-content: space-between;
        padding: 0 8px;
        column-gap: 22px;
    }

    .nav_rigt {
        max-width: 40%;
        min-width: 40%;
        padding-left: 4px;
        column-gap: 11px;
    }

    .nav_lft {
        max-width: 60%;
        column-gap: 12px;
        align-items: center;
        text-align: center;
    }

    .side_menu {
        display: flex !important;
        color: white;
    }

    .company_name {
        text-align: left;
        padding-right: 12px;
        max-width: 146px !important;
    }

    .nav,
    .profl,
    .line {
        display: none !important;
    }

    .proimg {
        display: inline-block !important;
        max-width: 35px !important;
    }

    .header_spc {
        width: 50%;
    }

    .glbSrh {
        width: 100%;
        height: 28px;
    }

}

@media (max-width: 769px) {
    .list{
        min-width: 64px !important;
    }
}